# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc
# Only exists if Bazel was run
/bazel-out

# dependencies
/node_modules

# profiling files
chrome-profiler-events*.json
speed-measure-plugin*.json

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db
src/assets/flags/1x1/ad.svg
src/assets/flags/1x1/ae.svg
src/assets/flags/1x1/af.svg
src/assets/flags/1x1/ag.svg
src/assets/flags/1x1/ai.svg
src/assets/flags/1x1/al.svg
src/assets/flags/1x1/am.svg
src/assets/flags/1x1/ao.svg
src/assets/flags/1x1/aq.svg
src/assets/flags/1x1/ar.svg
src/assets/flags/1x1/as.svg
src/assets/flags/1x1/at.svg
src/assets/flags/1x1/au.svg
src/assets/flags/1x1/aw.svg
src/assets/flags/1x1/ax.svg
src/assets/flags/1x1/az.svg
src/assets/flags/1x1/ba.svg
src/assets/flags/1x1/bb.svg
src/assets/flags/1x1/bd.svg
src/assets/flags/1x1/be.svg
src/assets/flags/1x1/bf.svg
src/assets/flags/1x1/bg.svg
src/assets/flags/1x1/bh.svg
src/assets/flags/1x1/bi.svg
src/assets/flags/1x1/bj.svg
src/assets/flags/1x1/bl.svg
src/assets/flags/1x1/bm.svg
src/assets/flags/1x1/bn.svg
src/assets/flags/1x1/bo.svg
src/assets/flags/1x1/bq.svg
src/assets/flags/1x1/br.svg
src/assets/flags/1x1/bs.svg
src/assets/flags/1x1/bt.svg
src/assets/flags/1x1/bv.svg
src/assets/flags/1x1/bw.svg
src/assets/flags/1x1/by.svg
src/assets/flags/1x1/bz.svg
src/assets/flags/1x1/ca.svg
src/assets/flags/1x1/cc.svg
src/assets/flags/1x1/cd.svg
src/assets/flags/1x1/cf.svg
src/assets/flags/1x1/cg.svg
src/assets/flags/1x1/ch.svg
src/assets/flags/1x1/ci.svg
src/assets/flags/1x1/ck.svg
src/assets/flags/1x1/cl.svg
src/assets/flags/1x1/cm.svg
src/assets/flags/1x1/cn.svg
src/assets/flags/1x1/co.svg
src/assets/flags/1x1/cr.svg
src/assets/flags/1x1/cu.svg
src/assets/flags/1x1/cv.svg
src/assets/flags/1x1/cw.svg
src/assets/flags/1x1/cx.svg
src/assets/flags/1x1/cy.svg
src/assets/flags/1x1/cz.svg
src/assets/flags/1x1/de.svg
src/assets/flags/1x1/dj.svg
src/assets/flags/1x1/dk.svg
src/assets/flags/1x1/dm.svg
src/assets/flags/1x1/do.svg
src/assets/flags/1x1/dz.svg
src/assets/flags/1x1/ec.svg
src/assets/flags/1x1/ee.svg
src/assets/flags/1x1/eg.svg
src/assets/flags/1x1/eh.svg
src/assets/flags/1x1/er.svg
src/assets/flags/1x1/es-ca.svg
src/assets/flags/1x1/es-ga.svg
src/assets/flags/1x1/es.svg
src/assets/flags/1x1/et.svg
src/assets/flags/1x1/eu.svg
src/assets/flags/1x1/fi.svg
src/assets/flags/1x1/fj.svg
src/assets/flags/1x1/fk.svg
src/assets/flags/1x1/fm.svg
src/assets/flags/1x1/fo.svg
src/assets/flags/1x1/fr.svg
src/assets/flags/1x1/ga.svg
src/assets/flags/1x1/gb-eng.svg
src/assets/flags/1x1/gb-nir.svg
src/assets/flags/1x1/gb-sct.svg
src/assets/flags/1x1/gb-wls.svg
src/assets/flags/1x1/gb.svg
src/assets/flags/1x1/gd.svg
src/assets/flags/1x1/ge.svg
src/assets/flags/1x1/gf.svg
src/assets/flags/1x1/gg.svg
src/assets/flags/1x1/gh.svg
src/assets/flags/1x1/gi.svg
src/assets/flags/1x1/gl.svg
src/assets/flags/1x1/gm.svg
src/assets/flags/1x1/gn.svg
src/assets/flags/1x1/gp.svg
src/assets/flags/1x1/gq.svg
src/assets/flags/1x1/gr.svg
src/assets/flags/1x1/gs.svg
src/assets/flags/1x1/gt.svg
src/assets/flags/1x1/gu.svg
src/assets/flags/1x1/gw.svg
src/assets/flags/1x1/gy.svg
src/assets/flags/1x1/hk.svg
src/assets/flags/1x1/hm.svg
src/assets/flags/1x1/hn.svg
src/assets/flags/1x1/hr.svg
src/assets/flags/1x1/ht.svg
src/assets/flags/1x1/hu.svg
src/assets/flags/1x1/id.svg
src/assets/flags/1x1/ie.svg
src/assets/flags/1x1/il.svg
src/assets/flags/1x1/im.svg
src/assets/flags/1x1/in.svg
src/assets/flags/1x1/io.svg
src/assets/flags/1x1/iq.svg
src/assets/flags/1x1/ir.svg
src/assets/flags/1x1/is.svg
src/assets/flags/1x1/it.svg
src/assets/flags/1x1/je.svg
src/assets/flags/1x1/jm.svg
src/assets/flags/1x1/jo.svg
src/assets/flags/1x1/jp.svg
src/assets/flags/1x1/ke.svg
src/assets/flags/1x1/kg.svg
src/assets/flags/1x1/kh.svg
src/assets/flags/1x1/ki.svg
src/assets/flags/1x1/km.svg
src/assets/flags/1x1/kn.svg
src/assets/flags/1x1/kp.svg
src/assets/flags/1x1/kr.svg
src/assets/flags/1x1/kw.svg
src/assets/flags/1x1/ky.svg
src/assets/flags/1x1/kz.svg
src/assets/flags/1x1/la.svg
src/assets/flags/1x1/lb.svg
src/assets/flags/1x1/lc.svg
src/assets/flags/1x1/li.svg
src/assets/flags/1x1/lk.svg
src/assets/flags/1x1/lr.svg
src/assets/flags/1x1/ls.svg
src/assets/flags/1x1/lt.svg
src/assets/flags/1x1/lu.svg
src/assets/flags/1x1/lv.svg
src/assets/flags/1x1/ly.svg
src/assets/flags/1x1/ma.svg
src/assets/flags/1x1/mc.svg
src/assets/flags/1x1/md.svg
src/assets/flags/1x1/me.svg
src/assets/flags/1x1/mf.svg
src/assets/flags/1x1/mg.svg
src/assets/flags/1x1/mh.svg
src/assets/flags/1x1/mk.svg
src/assets/flags/1x1/ml.svg
src/assets/flags/1x1/mm.svg
src/assets/flags/1x1/mn.svg
src/assets/flags/1x1/mo.svg
src/assets/flags/1x1/mp.svg
src/assets/flags/1x1/mq.svg
src/assets/flags/1x1/mr.svg
src/assets/flags/1x1/ms.svg
src/assets/flags/1x1/mt.svg
src/assets/flags/1x1/mu.svg
src/assets/flags/1x1/mv.svg
src/assets/flags/1x1/mw.svg
src/assets/flags/1x1/mx.svg
src/assets/flags/1x1/my.svg
src/assets/flags/1x1/mz.svg
src/assets/flags/1x1/na.svg
src/assets/flags/1x1/nc.svg
src/assets/flags/1x1/ne.svg
src/assets/flags/1x1/nf.svg
src/assets/flags/1x1/ng.svg
src/assets/flags/1x1/ni.svg
src/assets/flags/1x1/nl.svg
src/assets/flags/1x1/no.svg
src/assets/flags/1x1/np.svg
src/assets/flags/1x1/nr.svg
src/assets/flags/1x1/nu.svg
src/assets/flags/1x1/nz.svg
src/assets/flags/1x1/om.svg
src/assets/flags/1x1/pa.svg
src/assets/flags/1x1/pe.svg
src/assets/flags/1x1/pf.svg
src/assets/flags/1x1/pg.svg
src/assets/flags/1x1/ph.svg
src/assets/flags/1x1/pk.svg
src/assets/flags/1x1/pl.svg
src/assets/flags/1x1/pm.svg
src/assets/flags/1x1/pn.svg
src/assets/flags/1x1/pr.svg
src/assets/flags/1x1/ps.svg
src/assets/flags/1x1/pt.svg
src/assets/flags/1x1/pw.svg
src/assets/flags/1x1/py.svg
src/assets/flags/1x1/qa.svg
src/assets/flags/1x1/re.svg
src/assets/flags/1x1/ro.svg
src/assets/flags/1x1/rs.svg
src/assets/flags/1x1/ru.svg
src/assets/flags/1x1/rw.svg
src/assets/flags/1x1/sa.svg
src/assets/flags/1x1/sb.svg
src/assets/flags/1x1/sc.svg
src/assets/flags/1x1/sd.svg
src/assets/flags/1x1/se.svg
src/assets/flags/1x1/sg.svg
src/assets/flags/1x1/sh.svg
src/assets/flags/1x1/si.svg
src/assets/flags/1x1/sj.svg
src/assets/flags/1x1/sk.svg
src/assets/flags/1x1/sl.svg
src/assets/flags/1x1/sm.svg
src/assets/flags/1x1/sn.svg
src/assets/flags/1x1/so.svg
src/assets/flags/1x1/sr.svg
src/assets/flags/1x1/ss.svg
src/assets/flags/1x1/st.svg
src/assets/flags/1x1/sv.svg
src/assets/flags/1x1/sx.svg
src/assets/flags/1x1/sy.svg
src/assets/flags/1x1/sz.svg
src/assets/flags/1x1/tc.svg
src/assets/flags/1x1/td.svg
src/assets/flags/1x1/tf.svg
src/assets/flags/1x1/tg.svg
src/assets/flags/1x1/th.svg
src/assets/flags/1x1/tj.svg
src/assets/flags/1x1/tk.svg
src/assets/flags/1x1/tl.svg
src/assets/flags/1x1/tm.svg
src/assets/flags/1x1/tn.svg
src/assets/flags/1x1/to.svg
src/assets/flags/1x1/tr.svg
src/assets/flags/1x1/tt.svg
src/assets/flags/1x1/tv.svg
src/assets/flags/1x1/tw.svg
src/assets/flags/1x1/tz.svg
src/assets/flags/1x1/ua.svg
src/assets/flags/1x1/ug.svg
src/assets/flags/1x1/um.svg
src/assets/flags/1x1/un.svg
src/assets/flags/1x1/us.svg
src/assets/flags/1x1/uy.svg
src/assets/flags/1x1/uz.svg
src/assets/flags/1x1/va.svg
src/assets/flags/1x1/vc.svg
src/assets/flags/1x1/ve.svg
src/assets/flags/1x1/vg.svg
src/assets/flags/1x1/vi.svg
src/assets/flags/1x1/vn.svg
src/assets/flags/1x1/vu.svg
src/assets/flags/1x1/wf.svg
src/assets/flags/1x1/ws.svg
src/assets/flags/1x1/xk.svg
src/assets/flags/1x1/ye.svg
src/assets/flags/1x1/yt.svg
src/assets/flags/1x1/za.svg
src/assets/flags/1x1/zm.svg
src/assets/flags/1x1/zw.svg
src/assets/flags/4x3/ad.svg
src/assets/flags/4x3/ae.svg
src/assets/flags/4x3/af.svg
src/assets/flags/4x3/ag.svg
src/assets/flags/4x3/ai.svg
src/assets/flags/4x3/al.svg
src/assets/flags/4x3/am.svg
src/assets/flags/4x3/ao.svg
src/assets/flags/4x3/aq.svg
src/assets/flags/4x3/ar.svg
src/assets/flags/4x3/as.svg
src/assets/flags/4x3/at.svg
src/assets/flags/4x3/au.svg
src/assets/flags/4x3/aw.svg
src/assets/flags/4x3/ax.svg
src/assets/flags/4x3/az.svg
src/assets/flags/4x3/ba.svg
src/assets/flags/4x3/bb.svg
src/assets/flags/4x3/bd.svg
src/assets/flags/4x3/be.svg
src/assets/flags/4x3/bf.svg
src/assets/flags/4x3/bg.svg
src/assets/flags/4x3/bh.svg
src/assets/flags/4x3/bi.svg
src/assets/flags/4x3/bj.svg
src/assets/flags/4x3/bl.svg
src/assets/flags/4x3/bm.svg
src/assets/flags/4x3/bn.svg
src/assets/flags/4x3/bo.svg
src/assets/flags/4x3/bq.svg
src/assets/flags/4x3/br.svg
src/assets/flags/4x3/bs.svg
src/assets/flags/4x3/bt.svg
src/assets/flags/4x3/bv.svg
src/assets/flags/4x3/bw.svg
src/assets/flags/4x3/by.svg
src/assets/flags/4x3/bz.svg
src/assets/flags/4x3/ca.svg
src/assets/flags/4x3/cc.svg
src/assets/flags/4x3/cd.svg
src/assets/flags/4x3/cf.svg
src/assets/flags/4x3/cg.svg
src/assets/flags/4x3/ch.svg
src/assets/flags/4x3/ci.svg
src/assets/flags/4x3/ck.svg
src/assets/flags/4x3/cl.svg
src/assets/flags/4x3/cm.svg
src/assets/flags/4x3/cn.svg
src/assets/flags/4x3/co.svg
src/assets/flags/4x3/cr.svg
src/assets/flags/4x3/cu.svg
src/assets/flags/4x3/cv.svg
src/assets/flags/4x3/cw.svg
src/assets/flags/4x3/cx.svg
src/assets/flags/4x3/cy.svg
src/assets/flags/4x3/cz.svg
src/assets/flags/4x3/de.svg
src/assets/flags/4x3/dj.svg
src/assets/flags/4x3/dk.svg
src/assets/flags/4x3/dm.svg
src/assets/flags/4x3/do.svg
src/assets/flags/4x3/dz.svg
src/assets/flags/4x3/ec.svg
src/assets/flags/4x3/ee.svg
src/assets/flags/4x3/eg.svg
src/assets/flags/4x3/eh.svg
src/assets/flags/4x3/er.svg
src/assets/flags/4x3/es-ca.svg
src/assets/flags/4x3/es-ga.svg
src/assets/flags/4x3/es.svg
src/assets/flags/4x3/et.svg
src/assets/flags/4x3/eu.svg
src/assets/flags/4x3/fi.svg
src/assets/flags/4x3/fj.svg
src/assets/flags/4x3/fk.svg
src/assets/flags/4x3/fm.svg
src/assets/flags/4x3/fo.svg
src/assets/flags/4x3/fr.svg
src/assets/flags/4x3/ga.svg
src/assets/flags/4x3/gb-eng.svg
src/assets/flags/4x3/gb-nir.svg
src/assets/flags/4x3/gb-sct.svg
src/assets/flags/4x3/gb-wls.svg
src/assets/flags/4x3/gb.svg
src/assets/flags/4x3/gd.svg
src/assets/flags/4x3/ge.svg
src/assets/flags/4x3/gf.svg
src/assets/flags/4x3/gg.svg
src/assets/flags/4x3/gh.svg
src/assets/flags/4x3/gi.svg
src/assets/flags/4x3/gl.svg
src/assets/flags/4x3/gm.svg
src/assets/flags/4x3/gn.svg
src/assets/flags/4x3/gp.svg
src/assets/flags/4x3/gq.svg
src/assets/flags/4x3/gr.svg
src/assets/flags/4x3/gs.svg
src/assets/flags/4x3/gt.svg
src/assets/flags/4x3/gu.svg
src/assets/flags/4x3/gw.svg
src/assets/flags/4x3/gy.svg
src/assets/flags/4x3/hk.svg
src/assets/flags/4x3/hm.svg
src/assets/flags/4x3/hn.svg
src/assets/flags/4x3/hr.svg
src/assets/flags/4x3/ht.svg
src/assets/flags/4x3/hu.svg
src/assets/flags/4x3/id.svg
src/assets/flags/4x3/ie.svg
src/assets/flags/4x3/il.svg
src/assets/flags/4x3/im.svg
src/assets/flags/4x3/in.svg
src/assets/flags/4x3/io.svg
src/assets/flags/4x3/iq.svg
src/assets/flags/4x3/ir.svg
src/assets/flags/4x3/is.svg
src/assets/flags/4x3/it.svg
src/assets/flags/4x3/je.svg
src/assets/flags/4x3/jm.svg
src/assets/flags/4x3/jo.svg
src/assets/flags/4x3/jp.svg
src/assets/flags/4x3/ke.svg
src/assets/flags/4x3/kg.svg
src/assets/flags/4x3/kh.svg
src/assets/flags/4x3/ki.svg
src/assets/flags/4x3/km.svg
src/assets/flags/4x3/kn.svg
src/assets/flags/4x3/kp.svg
src/assets/flags/4x3/kr.svg
src/assets/flags/4x3/kw.svg
src/assets/flags/4x3/ky.svg
src/assets/flags/4x3/kz.svg
src/assets/flags/4x3/la.svg
src/assets/flags/4x3/lb.svg
src/assets/flags/4x3/lc.svg
src/assets/flags/4x3/li.svg
src/assets/flags/4x3/lk.svg
src/assets/flags/4x3/lr.svg
src/assets/flags/4x3/ls.svg
src/assets/flags/4x3/lt.svg
src/assets/flags/4x3/lu.svg
src/assets/flags/4x3/lv.svg
src/assets/flags/4x3/ly.svg
src/assets/flags/4x3/ma.svg
src/assets/flags/4x3/mc.svg
src/assets/flags/4x3/md.svg
src/assets/flags/4x3/me.svg
src/assets/flags/4x3/mf.svg
src/assets/flags/4x3/mg.svg
src/assets/flags/4x3/mh.svg
src/assets/flags/4x3/mk.svg
src/assets/flags/4x3/ml.svg
src/assets/flags/4x3/mm.svg
src/assets/flags/4x3/mn.svg
src/assets/flags/4x3/mo.svg
src/assets/flags/4x3/mp.svg
src/assets/flags/4x3/mq.svg
src/assets/flags/4x3/mr.svg
src/assets/flags/4x3/ms.svg
src/assets/flags/4x3/mt.svg
src/assets/flags/4x3/mu.svg
src/assets/flags/4x3/mv.svg
src/assets/flags/4x3/mw.svg
src/assets/flags/4x3/mx.svg
src/assets/flags/4x3/my.svg
src/assets/flags/4x3/mz.svg
src/assets/flags/4x3/na.svg
src/assets/flags/4x3/nc.svg
src/assets/flags/4x3/ne.svg
src/assets/flags/4x3/nf.svg
src/assets/flags/4x3/ng.svg
src/assets/flags/4x3/ni.svg
src/assets/flags/4x3/nl.svg
src/assets/flags/4x3/no.svg
src/assets/flags/4x3/np.svg
src/assets/flags/4x3/nr.svg
src/assets/flags/4x3/nu.svg
src/assets/flags/4x3/nz.svg
src/assets/flags/4x3/om.svg
src/assets/flags/4x3/pa.svg
src/assets/flags/4x3/pe.svg
src/assets/flags/4x3/pf.svg
src/assets/flags/4x3/pg.svg
src/assets/flags/4x3/ph.svg
src/assets/flags/4x3/pk.svg
src/assets/flags/4x3/pl.svg
src/assets/flags/4x3/pm.svg
src/assets/flags/4x3/pn.svg
src/assets/flags/4x3/pr.svg
src/assets/flags/4x3/ps.svg
src/assets/flags/4x3/pt.svg
src/assets/flags/4x3/pw.svg
src/assets/flags/4x3/py.svg
src/assets/flags/4x3/qa.svg
src/assets/flags/4x3/re.svg
src/assets/flags/4x3/ro.svg
src/assets/flags/4x3/rs.svg
src/assets/flags/4x3/ru.svg
src/assets/flags/4x3/rw.svg
src/assets/flags/4x3/sa.svg
src/assets/flags/4x3/sb.svg
src/assets/flags/4x3/sc.svg
src/assets/flags/4x3/sd.svg
src/assets/flags/4x3/se.svg
src/assets/flags/4x3/sg.svg
src/assets/flags/4x3/sh.svg
src/assets/flags/4x3/si.svg
src/assets/flags/4x3/sj.svg
src/assets/flags/4x3/sk.svg
src/assets/flags/4x3/sl.svg
src/assets/flags/4x3/sm.svg
src/assets/flags/4x3/sn.svg
src/assets/flags/4x3/so.svg
src/assets/flags/4x3/sr.svg
src/assets/flags/4x3/ss.svg
src/assets/flags/4x3/st.svg
src/assets/flags/4x3/sv.svg
src/assets/flags/4x3/sx.svg
src/assets/flags/4x3/sy.svg
src/assets/flags/4x3/sz.svg
src/assets/flags/4x3/tc.svg
src/assets/flags/4x3/td.svg
src/assets/flags/4x3/tf.svg
src/assets/flags/4x3/tg.svg
src/assets/flags/4x3/th.svg
src/assets/flags/4x3/tj.svg
src/assets/flags/4x3/tk.svg
src/assets/flags/4x3/tl.svg
src/assets/flags/4x3/tm.svg
src/assets/flags/4x3/tn.svg
src/assets/flags/4x3/to.svg
src/assets/flags/4x3/tr.svg
src/assets/flags/4x3/tt.svg
src/assets/flags/4x3/tv.svg
src/assets/flags/4x3/tw.svg
src/assets/flags/4x3/tz.svg
src/assets/flags/4x3/ua.svg
src/assets/flags/4x3/ug.svg
src/assets/flags/4x3/um.svg
src/assets/flags/4x3/un.svg
src/assets/flags/4x3/us.svg
src/assets/flags/4x3/uy.svg
src/assets/flags/4x3/uz.svg
src/assets/flags/4x3/va.svg
src/assets/flags/4x3/vc.svg
src/assets/flags/4x3/ve.svg
src/assets/flags/4x3/vg.svg
src/assets/flags/4x3/vi.svg
src/assets/flags/4x3/vn.svg
src/assets/flags/4x3/vu.svg
src/assets/flags/4x3/wf.svg
src/assets/flags/4x3/ws.svg
src/assets/flags/4x3/xk.svg
src/assets/flags/4x3/ye.svg
src/assets/flags/4x3/yt.svg
src/assets/flags/4x3/za.svg
src/assets/flags/4x3/zm.svg
src/assets/flags/4x3/zw.svg
