<form [formGroup]="formGroup">
  <div id="container">
    <app-area-search (areeChanged)="onAreeChanged($event)" [category]="category"></app-area-search>
  </div>
  <!-- <div fxLayout="row" fxLayoutGap="160px">
      <div>
        <mat-form-field style="width:150%">
          <mat-label>Categoria localizzazione predefinita</mat-label>
          <mat-select disabled="true"></mat-select>
          <mat-select-trigger></mat-select-trigger>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field style="width:300%">
          <mat-label>Localizzazione predefinita</mat-label>
          <mat-select disabled="true"></mat-select>
          <mat-select-trigger></mat-select-trigger>
        </mat-form-field>
      </div>
    </div> -->

  <!-- <div class="buttons-container">
    <div fxFill fxLayout="row" fxLayoutGap="100%" fxFlexOffset="1.70%">
      <div fxLayoutGap="10px" fxFlex="50%">
        <button type="button" color="primary" mat-flat-button fxFlex="150%" matStepperPrevious>Indietro</button>
        <button type="button" color="primary" mat-flat-button fxFlex="150%" (click)="onBack.emit()">Annulla</button>
      </div>
      <div fxLayoutGap="10px" fxFlex="50%">
        <button type="button" color="primary" mat-flat-button matStepperNext fxFlex="150%">Avanti</button>
      </div>
    </div>
  </div> -->

</form>