/* span {
    color: #003c7f;
} */
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

.login-button {
    background-color: #ffffff;
    position: relative;
    top: 0;
    box-shadow: none;
    border: none;
    outline: none;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 8px;
    font-size: 15px;
}

.login-button:focus {
    box-shadow: none;
    border: none;
    outline: none;
}

.login-button-disabled {
    color: #929292;  
}

.login-button-active {
    color: #212060;
}

.login-button-active:hover {
    color: #7170a5;
    top: 0px;
    /* text-decoration: underline; */
    transition: all 0.2s linear ;
}

.back-button {
    color: #212060;
    position: relative;
    box-shadow: none;
    border: none;
    outline: none;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 8px;
    font-size: 15px;
}

.back-button:hover {
    color: #7170a5;
    top: 0px;
    /* text-decoration: underline; */
    transition: all 0.2s linear ;
}

.reset-password-card-content {
    position: relative;
    margin-bottom: 0;
}

.spinner-container {
    width: 15px;
    height: 15px;
    display: inline-block;
}

.textbox {
    width: 100%;
    overflow: hidden;
    font-size: 1rem;
    padding: 4px 0;
    margin: 0px 0;
    border-bottom: 1px solid rgb(191, 191, 191);
}

.textbox i {
    width: 26px;
    text-align: center;
}

.textbox input {
    border: none;
    outline: none;
    background: none;
    width: 290px;
    margin: 0 10px;
    letter-spacing: 0.05rem;
}

#textbox-mail {
    margin-bottom: 10px;
}

.visible-icon {
    position: absolute;
    right: 0;
    bottom: 0px;
    width: 27px;
    height: 27px;
    /* display: block; */
}

.reset-password-container {
    background: #ffffff; 
    border: 1px solid rgb(191, 191, 191); 
    box-shadow: rgba(115, 170, 47, 0) 0px 1px 6px 1px; 
    padding: 30px; 
    border-radius: 15px;
}