<div fxLayout="column">
  <form novalidate (submit)="changePassword()" #f="ngForm" fxLayout="row" fxLayoutAlign="center" fxFlexOffset="56px">
    <mat-card fxLayout="column" fxFlex.gt-sm="400px" fxFlex.lt-sm="300px"
      style="
    background: #ffffff; border: 1px solid rgb(191, 191, 191); box-shadow: rgba(119, 178, 31, 0) 0px 1px 6px 1px; padding: 30px; border-radius: 15px;">
      <mat-card-header fxLayout="row" fxLayoutGap="0" class="mb-1">
        <div mat-card-avatar fxLayout="column" fxFlex="65px">
          <img fxFlex="65px" style="margin-top: -2px;"
            src="../../../assets/itAlert assets/logo-italert-icona(nuovo).png" alt="">
          <!-- <img fxFlex="50px" src="../../../assets/icons/logohd.svg" alt=""> CUSTOMIZATION-SOLE24ORE -->
        </div>
        <div fxLayout="column">
          <mat-card-title fxFlexOffset="3px">it-Alert</mat-card-title>
          <!-- <mat-card-title fxFlexOffset="3px">Il Sole 24 ORE</mat-card-title> CUSTOMIZATION-SOLE24ORE -->
          <mat-card-subtitle>{{'Multilang.loginSubtitle' | translate}} <br>
            (Versione 4.0)</mat-card-subtitle>
        </div>
      </mat-card-header>
      <mat-card-content fxLayout="column" class="card-content">
        <span fxFlexOffset="16px"
          style="font-size: 18px; font-weight: 500">{{'Multilang.newPasswordTitle' | translate}}:</span>
        <!-- <span fxFlexOffset="16px"
          style="font-style: italic; font-family: serif">{{'Multilang.newPasswordLabel' | translate}}</span> -->
        <div fxFlexOffset="4px" class="ml-2 mb-2">
          <span style="font-size: 18px; font-weight: 500"><small>La password deve contere almeno:</small>
          </span>
          <ul>
            <li>8 caratteri</li>
            <li>una lettera maiuscola</li>
            <li>una lettra minuscola</li>
            <li>un numero</li>
          </ul>
        </div>

        <!-- Password1 -->
        <div class="textbox mb-4">
          <i class="fa fa-lock" aria-hidden="true"></i>
          <input matInput type="password" #pass1 [type]="visible ? 'text' : 'password'" required
            placeholder="{{'Multilang.password1' | translate}}" pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}$"
            [(ngModel)]="password1" name="password1">
        </div>
        <!-- Password1 -->
        <div class="textbox mb-2">
          <i class="fa fa-lock" aria-hidden="true"></i>
          <input matInput #pass2 [type]="visible ? 'text' : 'password'" required
            placeholder="{{'Multilang.password2' | translate}}" pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}$"
            [(ngModel)]="password2" name="password2">
        </div>

        <!-- <mat-form-field fxFlexOffset="16px">
          <input matInput type="password" #pass1 [type]="visible ? 'text' : 'password'" required
            placeholder="{{'Multilang.password1' | translate}}" pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}$"
            [(ngModel)]="password1" name="password1" />
        </mat-form-field>
        <mat-form-field fxFlexOffset="16px">
          <input matInput #pass2 [type]="visible ? 'text' : 'password'" required
            placeholder="{{'Multilang.password2' | translate}}" pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}$"
            [(ngModel)]="password2" name="password2" />
        </mat-form-field> -->

      </mat-card-content>
      <mat-card-actions fxLayout="row-reverse" fxflex="100%" fxLayoutGap="8px">
        <!-- <button mat-button type="submit" [disabled]="f.invalid">{{'Multilang.send' | translate}} <mat-icon>send
          </mat-icon></button>
        <button mat-button type="button" *ngIf="block === false" (click)="back()" color="primary">
          <mat-icon>arrow_back</mat-icon>{{'Multilang.backButton' | translate}}
        </button> -->
        <div class="container-fluid">
          <div class="row justify-content-between">
            <div class="col-7 pl-2">
              <!-- <a class="pl-2" routerLink="/reset-password" id="resetPasswordLink">{{'Multilang.resetPasswordButton' | translate}}</a> -->
            </div>
            <div class="col-3 px-0">
              <!-- il bottone -->
              <div class="spinner-container pl-2">
                <!-- Spinner -->
                <mat-spinner *ngIf="spinner" [diameter]="20"></mat-spinner>
              </div>
              <button type="submit" [disabled]="f.invalid" [ngClass]="{
                'login-button': true,
                'login-button-active': !f.invalid,
                'login-button-disabled': f.invalid
              }">Invia</button>
            </div>
          </div>
        </div>
      </mat-card-actions>
    </mat-card>
  </form>
</div>
<!-- Loading -->
<div class="loading-2" *ngIf="spinner">
</div>
